.navbar__Container {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    margin-bottom: 30px;
    margin-left: -30px;
}
.navbar__Container > *{
    margin-left: 30px;
    text-decoration: none;
    transition: 200ms ease-in-out;
    color: #ffeaa7;
    font-size: 20px;
    border-radius: 5px;
    border: #fdcb6e 2px solid;
    padding: 3px 10px;
}
.navbar__Container > *:hover{
    background-color: #fdcb6e;
    color: #22a6b3;
}


